*.py[cod]
*.png
*.zip
*.csv
*.xlsx

*.ipynb_checkpoints
*.ipynb
__pycache__/

.DS_Store

Untitled*
src/Untitled*
src/config*
*/my_configs.py
*/results/

!images/directory.png
!images/file_dependencies.png
!images/receiving_inventory_plan.png

!sku_structure/color_table.csv
!sku_structure/vendor_table.csv
!sku_structure/weight_table.csv