*.py[cod]
*.png
*.zip
*.csv
*.xlsx

*.ipynb_checkpoints
*.ipynb
__pycache__/

Untitled*
src/Untitled*
src/config*
.DS_Store

!images/directory.png
!images/file_dependencies.png
!images/receiving_inventory_plan.png